{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ range where .Paginator.Pages ".Date" "le" now }}
      <li>
        <span>
          <i>
            <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
              {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
            </time>
          </i>
        </span>

        <a href="{{ .Permalink }}">{{ .Title }}</a> 
      </li>
        
      {{ if .Params.Authors }}
      <small class="authors">
        written by: {{ range (.GetTerms "authors") }}
        <span class="author"><a href="{{ .Permalink }}">{{.Name}}</a></span>
        {{ end }}
      </small>
      {{ end }}

      <span class="blog-post-description"><em>{{ .Description }}</em></span>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>

  {{- partial "pagination.html" . -}}


  {{ if and (not .Site.Params.hideTaxonomies) (not .Site.Params.hideTaxonomiesOnList) }}
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div class="taxonomies">
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
  {{ end }}
</content>
{{ end }}
