{{ define "main" }} {{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content> {{ .Content }} </content>

{{- if .Params.tags -}}
<div class="taxonomies">
  <p>
    {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    {{ end }}
  </p>
</div>
{{ end }} {{- if .Params.tags -}} {{ if eq .Type "blog" }} {{ if not
.Params.menu }}
<div>
  <p>
    written by: {{ range (.GetTerms "authors") }}
    <span class="author"><a href="{{ .Permalink }}">{{.Name}}</a></span>
    {{ end }}
  </p>
</div>
{{ end }} {{ end }} {{ end }} {{ end }}
